.main-content {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.grid-container {
    background-color: azure;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    justify-content: center;
    margin: 8px 16px;
}

.grid-container.info {
    text-align: center;
    padding: 16px;
}
  
.grid-container.picture {
    background-size: cover;
    width: calc(100% - 32px);
    height: 400px;
}

.grid-container.picture.mikael {
    background-image: url("../images-aboutus/jag.jpg");
    margin-top: 16px;
}

.grid-container.picture.alex {
    background-image: url("../images-aboutus/alex.jpg");
}

.grid-container.picture.saif {
    background-image: url(../images-aboutus/saif.jpg);
}

.grid-container.picture.priyesh {
    background-image: url("../images-aboutus/priyesh.jpg");
}

.grid-container.picture.caroline {
    background-image: url(../images-aboutus/carro.jpg);
}

@media screen and (min-width: 764px) {
    .main-content {
        display: grid;
        gap: 24px;
        grid-template: repeat(2, 2fr) / repeat(5, 2fr);
        padding: 24px;
        margin: 0 auto;
    }
    .grid-container {
        margin: 0;
    }

    .grid-container.picture {
        width: 100%;
        grid-row: 1 / span 5;
        height: 200px
    }
    
    .grid-container.picture.mikael {
        margin-top: 0;
    }
}