h3 {
    background-color: var(--foreground-color);
    padding: 14px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
}

.article__project {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

code {
    background-color: #fff;
    padding: 2px;
}

.ol {
    display: flex;
    flex-direction: row;
}

.ul {
    list-style-type: circle;
    background-color: black;
}

.ssh__key {
    background-color: var(--foreground-color);
    border-radius: 10px;
    margin: 20px;
    padding: 24px;
}

.repo {
    background-color: var(--foreground-color);
    border-radius: 10px;
    margin: 20px;
    padding: 24px;
}

@media screen and (min-width: 768px) {
    .image {
        padding: 24px;
    }
    
}
 