* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  flex-direction: column;
  display: flex;
  background-color: var(--background-color);
}

.main-content {
  flex-grow: 1;
  background-color: var(--background-color);
  margin: 0;
  grid-template-areas: 
    "featured first-post"
    "featured__image second__image";
}

.main-content__article.featured {
  display: flex;
  flex-direction: column;
  grid-area: featured;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(116, 181, 181);
  border-radius: 5px;
  text-align: left;
  padding: 10px;
}

.main-content__article.featured .featured__image {
  display: none;
  height: 100px;
}

.main-content__article-first-post .second__image {
  display: none;
  height: 100px;
}

.main-content__article-first-post {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 7px;
  background-color: rgb(116, 181, 181);
  color: black;
  border-radius: 10px;
  margin: 10px;
}

.main-container__first {
  border-radius: 5px;
  background-color: var(--foreground-color);
  grid-area: first__image;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 16px;
  width: calc(100% - 32px);
  font-weight: 600;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

}

.first__image {
  height: 500px;
  padding: 10px;
  width: 100%;
}

@media screen and (min-width: 768px) {    
  .main-content {
      display: grid;
      gap: 10px;
      grid-template: repeat(4, auto) / repeat (2, 1fr);
      padding: 24px;
      grid-template-areas: 
      "featured first-post"
      "featured__image second__image";
      max-width: 1024px;
      margin: auto;
  }

  .main-content__article {
      margin: 0;
  }
  
  .main-content__article.featured {
      grid-area: featured;
      display: flex;
      flex-direction: column;
  }

  .first-post {
      grid-area: first-post;
  }
}

@media only screen and (min-width: 330px) and (max-width: 990px) {
  .container__footer {
    flex-wrap: wrap;
    overflow-wrap: break-word;
  }

  .column__footer {
    width: calc(50% - 10px); /* Adjusted width to fit two columns with space */
    margin-bottom: 10px;
    margin-left: 0px; /* Added margin between columns */
  }

  .column__footer:nth-child(2) {
    margin-top: 102px; /* Add margin-top to the second column */
    margin-left: 20px;
  }

  .column__footer:last-child {
    margin-right: 0; /* Remove margin from the last column to prevent extra space */
  }

  .column__footer:nth-child(5){
    width: 100%;
  }

}

@media only screen and (max-width: 320px) {
  .column__footer {
    width: 100%;
  }

  .column__footer:nth-child(5) {
    width: 100%;
  }
}